@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Trenda Light It';
  font-style: normal;
  font-weight: normal;
  src: local('Trenda Light It'), url('/trenda-webfont/Latinotype  Trenda Light It.woff') format('woff');
}


@font-face {
  font-family: 'Trenda Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Trenda Semibold'), url('/trenda-webfont/Latinotype  Trenda Semibold.woff') format('woff');
}


@font-face {
  font-family: 'Trenda Semibold It';
  font-style: normal;
  font-weight: normal;
  src: local('Trenda Semibold It'), url('/trenda-webfont/Latinotype  Trenda Semibold It.woff') format('woff');
}


@font-face {
  font-family: 'Trenda Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Trenda Bold'), url('/trenda-webfont/Latinotype  Trenda Bold.woff') format('woff');
}


@font-face {
  font-family: 'Trenda Bold It';
  font-style: normal;
  font-weight: normal;
  src: local('Trenda Bold It'), url('/trenda-webfont/Latinotype  Trenda Bold It.woff') format('woff');
}


@font-face {
  font-family: 'Trenda Black';
  font-style: normal;
  font-weight: normal;
  src: local('Trenda Black'), url('/trenda-webfont/Latinotype  Trenda Black.woff') format('woff');
}


@font-face {
  font-family: 'Trenda Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Trenda Heavy'), url('/trenda-webfont/Latinotype  Trenda Heavy.woff') format('woff');
}


@font-face {
  font-family: 'Trenda Black It';
  font-style: normal;
  font-weight: normal;
  src: local('Trenda Black It'), url('/trenda-webfont/Latinotype  Trenda Black It.woff') format('woff');
}


@font-face {
  font-family: 'Trenda Heavy It';
  font-style: normal;
  font-weight: normal;
  src: local('Trenda Heavy It'), url('/trenda-webfont/Latinotype  Trenda Heavy It.woff') format('woff');
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00223a;
  font-family: "Trenda Regular", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header {
  position: relative;
}

.hero-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(25px) brightness(90%);
}

.bold {
  font-family: "Trenda Bold", Helvetica, sans-serif;
}

.extrabold {
  font-family: "Trenda Heavy", Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

nav{
  z-index: 2000;
}

.valuegrid{
  width: 99%;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.emailsuccess{
  background-color: #28a745;
  z-index: 2001;
  padding: 10px;
  color: white;
  text-align: center;
  width: 200px;
  font-weight: bold;
  border-radius: 5px;
  height: fit-content;
  position: fixed;
  top: 25px;
}

@media(max-width:470px){
  .valuegrid{
    display: flex;
    flex-direction: column;
  }
  .valuegrid div{
    width: 100%;
  }
}